:root{
  --timer-dimension: 430px;
}

.container{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-app {
  height: 100vh;
  place-content: center;
  width: 700px;
  margin: auto;
  box-sizing: border-box;
}

.input-container{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.input-container > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.input-time {
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  outline: none;
  border: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: grey;
  font-size: 60px;
}

.action-btns{
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 3rem;
  border: 0px;
  border-radius: 4px;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

button:active{
  transform: scale(0.98)
}

.play-icon{
  color: red !important;
}

.sound-icon{
  position: absolute;
  top: 5%;
  cursor: pointer;
  right: 4%;
  transform: scale(1.5);
}

.progress-bar-container{
  width: 164px;
  height: 164px;
  border-radius: 50%;
  position: relative;
}

@media screen and (max-width: 600px) {
  .timer-container{
    padding: 20px 20px;
  }
  .progress-bar-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
  }
  .input-time{
    width: 80px;
    height: 80px;
    font-size: 24px;
  }
  .action-btns{
    gap: 1.5rem;
  }
}